<main>
  <section>
    <h1><%= @source.name %></h1>

    <p>
      <strong>Git URL:</strong>
      <%= @source.git_url %>
    </p>

    <p>
      <strong>Last Fetched:</strong>
      <%= @source.last_fetched_at ? time_ago_in_words(@source.last_fetched_at) + " ago" : "Never" %>
    </p>

    <div>
      <%= link_to "Edit", edit_source_path(@source) %> |
      <%= link_to "Back", sources_path %>
    </div>
  </section>
</main>
