<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Life Os" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Life OS", root_path %></h1>
      <nav>
        <ul>
          <% if authenticated? %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><span><%= Current.user.email_address %></span></li>
            <li><%= link_to "Sign out", session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_session_path %></li>
            <li><%= link_to "Sign up", new_user_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% if flash[:alert] %>
      <section style="color: red; border: 1px solid red; padding: 1em; margin: 1em 0;">
        <%= flash[:alert] %>
      </section>
    <% end %>

    <% if flash[:notice] %>
      <section style="color: green; border: 1px solid green; padding: 1em; margin: 1em 0;">
        <%= flash[:notice] %>
      </section>
    <% end %>

    <%= yield %>
  </body>
</html>
