<main>
  <h1>Sign In</h1>

  <% if flash[:alert] %>
    <section style="color: red; border: 1px solid red; padding: 1em; margin: 1em 0;">
      <%= flash[:alert] %>
    </section>
  <% end %>

  <% if flash[:notice] %>
    <section style="color: green; border: 1px solid green; padding: 1em; margin: 1em 0;">
      <%= flash[:notice] %>
    </section>
  <% end %>

  <%= form_with url: session_path do |form| %>
    <div>
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address] %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %>
    </div>

    <%= form.submit "Sign in" %>
  <% end %>

  <nav>
    <ul>
      <li><%= link_to "Forgot password?", new_password_path %></li>
      <li><%= link_to "Create a new account", new_user_path %></li>
    </ul>
  </nav>
</main>
