<article>
  <h1>New GitHub Access Token</h1>

  <%= form_with model: @token, url: settings_tokens_path do |form| %>
    <% if @token.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>
        <ul>
          <% @token.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :name, "Token Name" %>
      <%= form.text_field :name, required: true, placeholder: "e.g., Work Token, Personal Projects" %>
      <small>A friendly name to help you identify this token</small>
    </div>

    <div>
      <%= form.label :token, "GitHub Personal Access Token" %>
      <%= form.password_field :token, required: true, placeholder: "ghp_xxxxxxxxxxxxxxxxxxxx", autocomplete: "off" %>
      <small>Paste your GitHub PAT here. It will be encrypted and never shown again.</small>
    </div>

    <div>
      <%= form.submit "Save Token" %>
      <%= link_to "Cancel", settings_tokens_path %>
    </div>
  <% end %>
</article>
