<main>
  <h1>Sign Up</h1>

  <% if @user.errors.any? %>
    <section>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <%= form_with model: @user, local: true do |form| %>
    <div>
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email" %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", minlength: 12, maxlength: 72 %>
    </div>

    <div>
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", minlength: 12, maxlength: 72 %>
    </div>

    <%= form.submit "Create Account" %>
  <% end %>

  <p><%= link_to "Already have an account? Sign in", new_session_path %></p>
</main>
