<article>
  <h1>Sign In</h1>

  <%= form_with url: session_path do |form| %>
    <div>
      <%= form.label :email_address %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address] %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %>
    </div>

    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>

  <p>
    <%= link_to "Forgot password?", new_password_path %>
  </p>

  <p>
    Don't have an account? <%= link_to "Sign up", signup_path %>
  </p>
</article>
