<h1>Edit Profile</h1>
<article>
  <%= form_with(model: @user) do |form| %>
    <%= render "shared/error_messages", model: @user %>
    <div class="field border">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div class="field border">
      <%= form.label :email_address, style: "display: block" %>
      <%= form.email_field :email_address, required: true %>
    </div>
    <div class="field border">
      <%= form.label :password, "New password (leave blank if you don't want to change it)", style: "display: block" %>
      <%= form.password_field :password %>
    </div>
    <div class="field border">
      <%= form.label :password_confirmation, style: "display: block" %>
      <%= form.password_field :password_confirmation %>
    </div>
    <%= form.submit "Update Profile", class: "button" %>
  <% end %>
</article>
<section>
  <div class="flex left">
    <%= button_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }, class: "fill" %>
    <%= link_to "Back", @user, class: "button" %>
  </div>
</section>